{% extends "layout.html" %}

{% block title %}
Animals
{% endblock title %}

{% block nav %}
<a href="{{ url_for('home_view.home') }}">Home</a>
<a href="{{ url_for('animals_view.animals') }}" class="active">Animals</a>
<a href="{{ url_for('contact_us_view.contact_us') }}">Contact Us</a>
{% endblock nav %}

{% block content %}
<p class="mainPar">Here are some of our animals:</p>
<div class="animalsContainer">
    <img src="{{ url_for('static', filename='images/pet1.jpg') }}">
    <img src="{{ url_for('static', filename='images/pet2.jpg') }}">
    <img src="{{ url_for('static', filename='images/pet3.jpg') }}">
    <img src="{{ url_for('static', filename='images/pet4.jpg') }}">
    <img src="{{ url_for('static', filename='images/pet5.jpg') }}">
    <img src="{{ url_for('static', filename='images/pet6.jpg') }}">
    <img src="{{ url_for('static', filename='images/pet7.jpg') }}">
    <img src="{{ url_for('static', filename='images/pet8.jpg') }}">
    <img src="{{ url_for('static', filename='images/pet9.jpg') }}">
    <img src="{{ url_for('static', filename='images/pet10.jpg') }}">
</div>
{% endblock content %}