{% extends "layout.html" %}

{% block title %}
Contact Us
{% endblock title %}

{% block nav %}      
    <a href="{{ url_for('home_view.home') }}">Home</a>
    <a href="{{ url_for('animals_view.animals') }}">Animals</a>
    <a href="{{ url_for('contact_us_view.contact_us') }}" class="active">Contact Us</a>
{% endblock nav %}

{% block content %}
<div class="form-container">
    <form>
        <div>
            <label for="name_box">Name:</label>
        </div>
        <div>
            <input class="form-control" type="text" name="full_name" id="name_box" required minlength="2" maxlength="30">
        </div>
        <div>
            <label for="message_box">Message:</label>
        </div>
        <div>
            <textarea class="form-control" name="message" id="message_box" required minlength="5" maxlength="1000"></textarea>
        </div>
        <div></div>
        <div>
            <button class="btn btn-primary">Send</button>
        </div>
    </form>
</div>
{% endblock content %}