{% extends "layout.html" %}

{% block title %}
Home
{% endblock title %}

{% block nav %}      
    <a href="{{ url_for('home_view.home') }}" class="active">Home</a>
    <a href="{{ url_for('animals_view.animals') }}">Animals</a>
    <a href="{{ url_for('contact_us_view.contact_us') }}">Contact Us</a>
{% endblock nav %}

{% block content %}

    <p class="mainPar">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic vitae quas rerum maiores, doloremque omnis dolore temporibus voluptatum molestias aut reprehenderit, veritatis blanditiis possimus eligendi optio aspernatur dolorum sapiente exercitationem, deleniti excepturi consequatur iure illum minus? Rerum eligendi perspiciatis laborum obcaecati necessitatibus ipsam voluptate commodi, mollitia reprehenderit. Ullam, soluta accusantium.</p>
    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Y6cwMDpARao?si=P3CpKsS-hcMsKtja" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    
{% endblock content %}